@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}



/* header section  */
.header {
    background-color: black;
    height: 70vh;
}

.header-title h1 {
    font-size: 5rem;
    color: rgb(253, 85, 34);
    font-family: 'Dancing Script', cursive;
}

.header-title P {
    font-size: 25px;
    color: aliceblue;
}

.messi {
    border-radius: 50%;
    width: 300px;
}