@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}



/* header section  */
.header {
    background-color: black;
    height: 70vh;
}

.header-title h1 {
    font-size: 5rem;
    color: rgb(253, 85, 34);
    font-family: 'Dancing Script', cursive;
}

.header-title P {
    font-size: 25px;
    color: aliceblue;
}

.messi {
    border-radius: 50%;
    width: 300px;
}

/* main section  */
.main {
    background-color: rgba(0, 0, 0, 0.904);
}

.card {
    background-color: black;
    border: none;
}

.card-title {
    color: whitesmoke;
}

.players {
    margin-top: 10vh;

}

.selected-players {
    background-color: black;
}

.selected-players p {
    font-size: 18px;
    color: white;
}

#final-total {
    color: goldenrod;
}

/* footer section  */
.footer {
    background-color: black;
}

footer>div {
    height: 150px;
    background-color: black;
    margin-top: 1px;

}



footer>div>p {
    font-size: 20px;
    color: white;
}